<!-- messaging/templates/messaging/base.html -->
<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Encounter Messaging</title>
    {% load static %}
    <!-- Include CSS and JavaScript files -->

    <link rel="stylesheet" href="{% static 'encounterapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'encounterapp/chat.css' %}">
</head>
<body class="page_body">
    <div class="header_parent">
        <div class="dashbaord">
            <a class="link__item" href="{% url 'encounterapp:dashboard' access_token %}">Dashboard</a>
           </div>
        <h1>Encounter Messaging</h1>
        </div>
    <div class="chat-container">
    <div class="left_side">
       hello
       
    </div>
   
    <div class="main__chat_content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="right_side">
       hello
    </div>
</div>
    <div class="footer_parent">
        <p>&copy; 2023 Encounter Messaging</p>
    </div>

 <script src="{% static 'encounterapp/main.js' %}"></script> 
</body>
</html>
