 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" href="{% static 'follow/follow.css' %}"> 
</head>
<body>
  <div class="logout">
    <a class="link__item" href="{% url 'encounterapp:dashboard' access_token %}">Dashboard</a>
   </div>
   <div  class="follow__form-main">
   {% for notify in notificate %}
   <div class="connect__form">    
    <div  >
    <img
    width="40px"
    height="40px"
    alt="user-img"
    src="/media/{{notify.sender.image}}"
    class="logo__img"
  />
  {{notify.sender.firstname}} {{notify.sender.lastname}} is following you
</div>

  </div>
   {%endfor%}
   {% for notify in allnotificate %}
   <div class="connect__form">    
    <div  >
    <img
    width="40px"
    height="40px"
    alt="user-img"
    src="/media/{{notify.sender.image}}"
    class="logo__img"
  />
  {{notify.sender.firstname}} {{notify.sender.lastname}} is following you
</div>

  </div>
   {%endfor%}
      </div>
    
</body>
</html>
